<a href="https://colab.research.google.com/github/prabirdeb/Customer-Segmentation/blob/main/Online_Retail_Customer_Segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Extraction/identification of major topics & themes discussed in news articles. </u></b>

## <b> Problem Description </b>

### In this project, your task is to identify major customer segments on a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

## <b> Data Description </b>

### <b>Attribute Information: </b>

* ### InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.
* ### StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.
* ### Description: Product (item) name. Nominal.
* ### Quantity: The quantities of each product (item) per transaction. Numeric.
* ### InvoiceDate: Invice Date and time. Numeric, the day and time when each transaction was generated.
* ### UnitPrice: Unit price. Numeric, Product price per unit in sterling.
* ### CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.
* ### Country: Country name. Nominal, the name of the country where each customer resides.

# **Steps of Exploratory Data Analysis (EDA)**

**1. Data or EXPERIENCE**

Here, we are provided with a dataset of online retail customers.

Thus, the dataset is actually a collection of experiences about online retail customers. 

Now, we need to **decode the set of experiences** to help in building a model for customer segmentation.

At first, we import the libraries or functions for **making our journey easy** and then **get connected** to the set of experiences.

In [1]:
#importing libraries
import numpy as np
import pandas as pd
from termcolor import colored

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
xls = pd.ExcelFile('/content/drive/MyDrive/Almabetter Assignments/Capstone projects/Customer Segmentation-Prabir Debnath/Online Retail.xlsx')

In [4]:
xls.sheet_names

['Online Retail']

In [5]:
# Reading the data as pandas dataframe
customer_df = pd.read_excel(xls, 'Online Retail')

**2. Features or "DHARMA":**

Here, the columns are the set of features, showing the way to reach final decoded experience or conclusions.  

As there is a huge no. of experiences, we cannot see the whole lot of experiences and therefore we find the features on the **data head**.

In [6]:
customer_df.head(2)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom

[2 rows x 8 columns]

**3. Statistics or MEASUREMENTS**

As there is a huge no. of experiences, we take the help of statistics to **measure** each and every features in different dimensions and thus step by step, will find the most important features or the exact way to decode the experiences.

“**what gets measured gets done**“.

In [7]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [8]:
customer_df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [9]:
for column_name in customer_df.columns:
  print(colored(f"Unique values for {column_name}:",'blue', attrs=['bold']))
  print(customer_df[column_name].unique())

Unique values for InvoiceNo:
[536365 536366 536367 ... 581585 581586 581587]
Unique values for StockCode:
['85123A' 71053 '84406B' ... '90214U' '47591b' 23843]
Unique values for Description:
['WHITE HANGING HEART T-LIGHT HOLDER' 'WHITE METAL LANTERN'
 'CREAM CUPID HEARTS COAT HANGER' ... 'lost'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']
Unique values for Quantity:
[     6      8      2     32      3      4     24     12     48     18
     20     36     80     64     10    120     96     23      5      1
     -1     50     40    100    192    432    144    288    -12    -24
     16      9    128     25     30     28      7     56     72    200
    600    480     -6     14     -2     11     33     13     -4     -5
     -7     -3     70    252     60    216    384    -10     27     15
     22     19     17     21     34     47    108     52  -9360    -38
     75    270     42    240     90    320   1824    204     69    -36
   -192   -144    160   2880   1400     39    -48    -50     26   1440
     31     82     78     97     98     35     57    -20    110    -22
    -30    -70   -130    -80   -120    -40    -25    -14    -15    -69
   -140   -320     -8    720    156    324     38     37     49     95
     -9    -11     29     41    -72    -35    -21    -43    -19    -18
    -44    402    378    150    300     54    104     67    258     66
     44     55     46     99     61    408    972    208   1008   1000
    -77   1488    250   1394    400   -223   -150    -13    -33   -723
   -177     79     84    -32   -100    -28    272   -145    -47    -96
    113     45    106     68    267    115     65   1728    -60    -16
     53   -240     76    460     71     43    213     58    576   2400
    500    180   -300   -500    -23    752    960   1296    210    172
    215    129    138    116    135    197   -106    -54    -17   -939
    147    168    256   -201    -53    -29  -2600   -990   -290    -45
    860   1010   1356   1284    186    114    360   1930   2000   3114
   1300    670    111    211     59   -310    -61    -41    176    648
     62  74215 -74215    -64    -84     89  -1400     73    -57    112
    456    -59    -31   5568   2560    136    900   -600    -42    -94
   -207    -52    130   -206   2592    420    800    101   1200    864
   -217     94  -1430   1287   -162   -230   -173   -390   -234    504
    123    118    -76   -200   1056   1500    280    407    141    124
    -99     51    -92   -741   3906   -400   -114    102   1152    -88
    198    117     86   -720    125    -86   -391    -87   -278    140
    228   -154  -3000     81   -675   -210   -345   -975  -1200  -1121
    -27   -541  -1277   -197   3000  -1100    -63  -5368    219   -259
    232    -82   -178    170   -110    768     88    700   -102   2160
   -323   -450   -232    -83   -153   -524  -2472    -49   -105    342
    304    167    -34    640    175    220     74     93    164    163
     63    637    122    158    165    350    -46    -75   -690    -39
    -66     83    312   -180    392   -624   -194    -26    -62    -37
    -91   -139   -158  -1479    -55   -576   -750    330    151    -93
   -432    -58  -1092   -670  -1300  -1930  -2000  -3114    462    -65
    -68    492   -620    273    -90   -170  -1512    -51     85    -56
   -160   -360    105   -960  -2376   1350    428  -1350    336   -786
   -590   -168   -101    -71    132   -413   -664    227   2700    222
    246    906    756    888    552    -97    224    738    608   -212
   4300    146    143    276   -125   -116   -108   4000   -304   -272
  -1206    -95   1600    323   -161   -472   -618   -204   1515  -1515
  -9058  -9600    660   -420   -126   -220   -271  -1440    264    188
    588    612    152   -324   -480   -164    -78   -118    430  -1681
     87    155    701    828    540    696    560   -250   -408   -179
    121   -124    512   -251  -3100   3100   -169    126    291   3186
  -2834   -109    109   -121   -530   -227    261   -346    352    142
    107   -188  -1060   -342   -288    348   1900    157   -343   -455
    425    968    684    824   -828   -701    196    248    410    236
    230   -156   -553    145    448    245   -252   -334   -318   -113
   -115    171   -242    840   -967   -203  -3167   -443  -1897    225
   -434    750   -682   -484    682    344   -635   -117  -3667    450
    310    494   -384     92   1788   -138    624    744    416    496
    396    306   1878   1944    666    708   1428    852   1412    528
   -756   -752   -152    -85   -312    -79   -147    -67   -131    183
   -209   -186   -231   -129   -458   -275  -2880   1540    672   -800
   -430   -380    -74   -840  -1296   -365   -104   -270    -73   -306
     91    255    468   -468   -111   -184   -103   -335   4800   -112
  -1000    912   1992    184    148   -657  -1671  -1158  -2618  -2003
   -674  -4830   -905  -1128    832    992    630   1020   2100    162
  -1560  -1284    -81    314    370    131    133    484    149    153
    257    139    137    628    179   1820    478    335    253    242
    375   -276   -256    281    193    181    404    244    207    199
   1130    326    654    688    268    249   -864    234  -1510   -550
   -244   -132   -327   -313    279   -398   -280    374   -504   -696
   -149   -224   -428    212   -267   -175  12540    760    -98    774
   -151   2040  -1131   -135   1120     77   -900    177    490    388
    620   1404   -155   -355   -337  -1050   -338    205   -235    698
  80995 -80995]
Unique values for InvoiceDate:
['2010-12-01T08:26:00.000000000' '2010-12-01T08:28:00.000000000'
 '2010-12-01T08:34:00.000000000' ... '2011-12-09T12:31:00.000000000'
 '2011-12-09T12:49:00.000000000' '2011-12-09T12:50:00.000000000']
Unique values for UnitPrice:
[   2.55    3.39    2.75 ...  933.17 1714.17  224.69]
Unique values for CustomerID:
[17850. 13047. 12583. ... 13298. 14569. 12713.]
Unique values for Country:
['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

In [10]:
for column_name in customer_df.columns:
  print(colored(f"No. of unique values for {column_name}:",'green', attrs=['bold']))
  print(customer_df[column_name].nunique())

No. of unique values for InvoiceNo:
25900
No. of unique values for StockCode:
4070
No. of unique values for Description:
4223
No. of unique values for Quantity:
722
No. of unique values for InvoiceDate:
23260
No. of unique values for UnitPrice:
1630
No. of unique values for CustomerID:
4372
No. of unique values for Country:
38

In [11]:
for column_name in customer_df.columns:
  print(colored(f"No. of null values for {column_name}:",'magenta', attrs=['bold']))
  print(customer_df[column_name].isnull().sum())

No. of null values for InvoiceNo:
0
No. of null values for StockCode:
0
No. of null values for Description:
1454
No. of null values for Quantity:
0
No. of null values for InvoiceDate:
0
No. of null values for UnitPrice:
0
No. of null values for CustomerID:
135080
No. of null values for Country:
0

In [12]:
customer_df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [14]:
# Finding out the final important columns considering type of unique values, less no. of unique values and less no. of null values
important_columns=['InvoiceNo', 'Description', 'Quantity', 'InvoiceDate','UnitPrice', 'Country']

**4. Data Cleaning**

Now we can create a clean experience set with important features. 

In this step, we treat the missing values or "?" values through imputation if required.

If there is any string containing a Python literal in any of the important feature, we must evaluate them

We may also create new feature if found important during the analysis.

We check the statistics further on clean data.

In [15]:
customer_df=customer_df[important_columns]

In [16]:
for column_name in customer_df.columns:
  print(colored(f"Value counts for {column_name}:", attrs=['bold']))
  print(customer_df[column_name].value_counts())

Value counts for InvoiceNo:
573585     1114
581219      749
581492      731
580729      721
558475      705
           ...
C558095       1
563742        1
563740        1
C552863       1
568372        1
Name: InvoiceNo, Length: 25900, dtype: int64
Value counts for Description:
WHITE HANGING HEART T-LIGHT HOLDER    2369
REGENCY CAKESTAND 3 TIER              2200
JUMBO BAG RED RETROSPOT               2159
PARTY BUNTING                         1727
LUNCH BAG RED RETROSPOT               1638
                                      ...
MINT DINER CLOCK                         1
?sold as sets?                           1
Incorrect stock entry.                   1
FLOWER SHOP DESIGN MUG                   1
CAKESTAND, 3 TIER, LOVEHEART             1
Name: Description, Length: 4223, dtype: int64
Value counts for Quantity:
 1       148227
 2        81829
 12       61063
 6        40868
 4        38484
          ...
 1287         1
-5368         1
 267          1
-244          1
 512          1
Name: Quantity, Length: 722, dtype: int64
Value counts for InvoiceDate:
2011-10-31 14:41:00    1114
2011-12-08 09:28:00     749
2011-12-09 10:03:00     731
2011-12-05 17:24:00     721
2011-06-29 15:58:00     705
                       ...
2011-02-23 11:35:00       1
2011-09-22 14:01:00       1
2011-11-30 14:34:00       1
2011-03-30 17:20:00       1
2011-06-06 11:22:00       1
Name: InvoiceDate, Length: 23260, dtype: int64
Value counts for UnitPrice:
1.25       50496
1.65       38181
0.85       28497
2.95       27768
0.42       24533
           ...
4575.64        1
125.96         1
147.13         1
3060.60        1
244.51         1
Name: UnitPrice, Length: 1630, dtype: int64
Value counts for Country:
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

**5. Data Visualization**

When we know all the important features of our experiences, we can go a step ahead by finding the relationship among features. Here, we take the help of visualization because

**"A picture is worth a thousand words"**

**6. Anomaly Detection**

While, we are finding out the **general formula** from the experiences, we should identify the outlier or **exceptional observations** for all the important features and keep them aside during the analysis.

**7. Conclusion**